@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Меняем направление навигации на вертикальное */
        align-items: flex-start; /* Выровнять элементы по левому краю */
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .text {
        font-size: 40px; /* Уменьшаем размер шрифта для текста */
    }

    .btn {
        padding: 15px 50px; /* Уменьшаем размер кнопок */
    }

    .container {
        flex-direction: column; /* Вертикальное расположение карточек */
    }

    .call-to-action {
        flex-direction: column; /* Вертикальное расположение колонок */
        text-align: center; /* Центрирование текста на мобильных устройствах */
        padding: 10px;
    }

    .call-to-action h2 {
        font-size: 24px; /* Уменьшаем размер заголовка */
    }

    .call-to-action .cta-btn {
        margin-top: 20px; /* Меньший отступ для кнопки */
    }

    footer {
        font-size: 14px; /* Уменьшаем размер текста футера */
    }
}

/* Для экранов до 480px (очень маленькие экраны) */
@media (max-width: 480px) {
    .text {
        font-size: 30px; /* Еще меньше шрифт для мобильных */
    }

    .btn {
        padding: 10px 30px; /* Уменьшаем кнопки еще больше */
    }

    .call-to-action h2 {
        font-size: 20px; /* Заголовок еще меньше */
    }

    .call-to-action p {
        font-size: 16px;
    }
}

/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
}

/* Навигация */
nav {
    background-color: #111111;
    padding: 10px;
    font: 1.2rem "Robot", sans-serif;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Панель навигации будет занимать всю ширину страницы */
    background-color: #111111; /* Цвет фона */
    z-index: 1000; /* Убедитесь, что панель всегда поверх других элементов */
    padding: 10px;   
}

.nav-text h1 {
    color: #f1ecec;
    font: 1.2rem "Nitro", sans-serif;
    margin: 0;    
    font-size: 28px;
}

.colortext { 
    color: rgb(17, 133, 148);
}


.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #ffffff;
    margin-right: 30px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;  
    position: relative;
}

.nav-links a:hover {    
    /*text-decoration: underline;*/
    color: #00fff0; /* Яркий неоновый цвет */
   text-shadow: 0 0 20px #00fff0, 0 0 30px #00fff0, 0 0 40px #00fff0; /* Усиливаем свечение */
}

.nav-links a::after {
    content: '';
    bottom: -10px;
    height: 0px;
    width: 10px;
    left: 50%;
    position: absolute;
    background-color: #01fefe;
    border-radius: 50%;
    transition: all 300ms;
}

.nav-links a:hover::after {
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.contt {
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 20px;
    background-color: #1a1a1a;
    box-shadow: 0 0 20px rgb(116, 116, 116), 0 0 40px rgba(128, 128, 128, 0.8), 0 0 60px rgba(83, 83, 83, 0.6); /* Яркое белое неоновое свечение */

    margin-top: 150px;
    z-index: 0;
    box-shadow: #111111;

}
.container {
    width: 45%;
    height: 400px;
    margin: 50px;
    border-radius: 10pc 30px 30px 30px;
    padding: 20px;
    background-color: #cfcfcf;
    box-shadow: #111111;
    box-shadow: 0 0 20px rgb(116, 116, 116), 0 0 40px rgba(128, 128, 128, 0.8), 0 0 60px rgba(83, 83, 83, 0.6); /* Яркое белое неоновое свечение */
    margin-bottom: 10px;
    margin-top: 50px;
}


.circle-image{
    display: inline-block;
    border-radius: 50%;
    margin: 30px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 40px rgba(0, 0, 0, 0.8), 0 0 60px rgba(0, 0, 0, 0.6); /* Яркое белое неоновое свечение */

}
.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
} 
.contain {
    width: 90%;
    height: 400px;
    display: flex; /* Используем Flexbox */
    justify-content: space-between; /* Распределяем пространство между колонками */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку при необходимости */

    margin: 50px;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    background-color: #bebebe;
    box-shadow: 0 0 20px rgb(116, 116, 116), 0 0 40px rgba(128, 128, 128, 0.8), 0 0 60px rgba(83, 83, 83, 0.6); /* Яркое белое неоновое свечение */
    margin-top: 40px;
}

.cont {
    width: 45%;
    height: 330px;
    margin: 265px;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    background-color: #bebebe;
    box-shadow: 0 0 20px rgb(116, 116, 116), 0 0 40px rgba(128, 128, 128, 0.8), 0 0 60px rgba(83, 83, 83, 0.6); /* Яркое белое неоновое свечение */
    margin-top: 130px;
}



.column {
    flex: 1 1 50%; /* Каждая колонка занимает 50% ширины */
    padding: 13px; /* Отступы внутри колонки */
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
}

input[type="number"],
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.8s;
    font-size: 16px;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007BFF;/* Цвет кнопки */
    margin-right: 450px;
    margin-left: 20px;
    margin-top: 30px;
    color: #ffffff; /* Цвет текста на кнопке */
    border: none; /* Без рамки */
    padding: 20px 90px; /* Внутренние отступы */
    border-radius: 10px; /* Скругленные углы */
    cursor: pointer; /* Курсор при наведении */
    font-family: 'Montserrat', sans-serif; /* Шрифт для кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.textikk {
    font-family: 'Nitro', sans-serif; /* Шрифт для кнопки */
    font-size: 35px;

    color: rgb(17, 133, 148); /* Цвет текста на кнопке */
    margin-left: 710px;
    margin-right: 150px;
    margin-top: -400px;
    margin-bottom: 0;

}


.sex-image img {
    width: 100px;  /* Установите нужную ширину */
    height: auto; /* Высота будет пропорциональна */
    margin-top: 40px;
    display: flex;
    margin-left: 120px;    
    margin-bottom: -320px;
    z-index: 1; /* Контейнер уходит "под" первый контейнер */

}

.input-container {

    margin: 30px; /* Отступы вокруг контейнера */
    width: 40%;
}

.progress-bar {
    width: 100%; /* Ширина полосы прогресса */
    background-color: #e0e0e0; /* Цвет фона полосы прогресса */
    border-radius: 10px; /* Закругление углов */
    height: 20px; /* Высота полосы прогресса */
    margin-top: 10px; /* Отступ сверху для отделения от поля ввода */
}

.fill {
    height: 100%; /* Высота заполненной части */
    background-color: #007bff; /* Цвет заполненной части */
    width: 0%; /* Начальная ширина заполненной части */
    border-radius: 10px; /* Закругление углов заполненной части */
    transition: width 0.3s ease; /* Плавный переход ширины */
}

footer {
    background-color: #070606;
    color: #fefefe;
    text-align: center;
    padding: 10px 0;
}

::-webkit-scrollbar {
    width: 12px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Цвет фона трека скроллбара */
    border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-thumb {
    background-color: #11a4bc; /* Цвет бегунка */
    border-radius: 10px; /* Закругление углов бегунка */
    border: 3px solid #1e1e1e; /* Пространство вокруг бегунка для эффекта */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0e99a5; /* Цвет при наведении */
}

* {
    scrollbar-width: thin; /* Тонкий скроллбар */
    scrollbar-color: #11a4bc #1e1e1e; /* Цвет бегунка и трека */
}